QuanLyPhongMach/Core/bin/Debug/Core.dll
QuanLyPhongMach/Core/bin/Debug/Core.dll.config
QuanLyPhongMach/Core/bin/Debug/Core.pdb
QuanLyPhongMach/Core/bin/Debug/EntityFramework.SqlServer.dll
QuanLyPhongMach/Core/bin/Debug/EntityFramework.SqlServer.xml
QuanLyPhongMach/Core/bin/Debug/EntityFramework.dll
QuanLyPhongMach/Core/bin/Debug/EntityFramework.xml
QuanLyPhongMach/Core/obj/Debug/Core.csproj.FileListAbsolute.txt
QuanLyPhongMach/Core/obj/Debug/Core.csprojResolveAssemblyReference.cache
QuanLyPhongMach/Core/obj/Debug/Core.dll
QuanLyPhongMach/Core/obj/Debug/Core.pdb
QuanLyPhongMach/Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuanLyPhongMach/Core/obj/Debug/TempPE/QLPM.Context.cs.dll
QuanLyPhongMach/Core/obj/Debug/TempPE/QLPM.Designer.cs.dll
QuanLyPhongMach/Core/obj/Debug/TempPE/QLPM.cs.dll
QuanLyPhongMach/Core/obj/Debug/edmxResourcesToEmbed/QLPM.csdl
QuanLyPhongMach/Core/obj/Debug/edmxResourcesToEmbed/QLPM.msl
QuanLyPhongMach/Core/obj/Debug/edmxResourcesToEmbed/QLPM.ssdl
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/Core.dll
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/Core.pdb
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/EntityFramework.SqlServer.dll
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/EntityFramework.SqlServer.xml
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/EntityFramework.dll
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/EntityFramework.xml
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/QuanLyPhongMach.exe
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/QuanLyPhongMach.exe.config
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/QuanLyPhongMach.pdb
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/QuanLyPhongMach.vshost.exe
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/QuanLyPhongMach.vshost.exe.config
QuanLyPhongMach/QuanLyPhongMach/bin/Debug/QuanLyPhongMach.vshost.exe.manifest
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/DesignTimeResolveAssemblyReferences.cache
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/GeneratedInternalTypeHelper.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/QuanLyPhongMach.csproj.FileListAbsolute.txt
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/QuanLyPhongMach.csprojResolveAssemblyReference.cache
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/QuanLyPhongMach.exe
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/QuanLyPhongMach.g.resources
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/QuanLyPhongMach.pdb
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/QuanLyPhongMach_MarkupCompile.cache
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/QuanLyPhongMach_MarkupCompile.i.cache
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/QuanLyPhongMach_MarkupCompile.lref
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcKhachHangDetail.baml
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcKhachHangDetail.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcKhachHangDetail.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcKhachHangMain.baml
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcKhachHangMain.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcKhachHangMain.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcMenu.baml
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcMenu.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcMenu.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcPetMain.baml
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcPetMain.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcPetMain.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcThuocMain.baml
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcThuocMain.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcThuocMain.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/WDMain.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/WdMain.baml
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/WdMain.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/QuanLyPhongMach_MarkupCompile.i.lref
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcPetDetail.baml
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcPetDetail.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcPetDetail.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcThuocDetail.baml
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcThuocDetail.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcThuocDetail.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcDieuTriMain.baml
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcDieuTriMain.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/UcDieuTriMain.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/App.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/App.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/WdLogin.g.cs
QuanLyPhongMach/QuanLyPhongMach/obj/Debug/WdLogin.g.i.cs
