USE [QuanLyDonHang]
GO
/****** Object:  Table [dbo].[Catalogue]    Script Date: 10/28/2014 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[SubCategory] [nvarchar](50) NULL,
	[SupplierCode] [nvarchar](50) NULL,
	[SupplierName] [nvarchar](50) NULL,
	[ItemGroup] [nvarchar](50) NULL,
	[ItemDescription] [nvarchar](100) NOT NULL,
	[MoreDescription] [nvarchar](500) NULL,
	[PartNumber] [nvarchar](50) NULL,
	[UOM] [nvarchar](50) NULL,
	[UnitPrice] [int] NOT NULL,
	[ReferencePrice] [int] NOT NULL,
	[Remark] [nvarchar](50) NULL,
	[GLCode] [nvarchar](50) NULL,
	[HACAT] [nvarchar](50) NULL,
	[EffectiveDate] [date] NULL,
	[ExpiryDate] [date] NULL,
	[Currency] [nvarchar](50) NOT NULL,
	[DeleteFlag] [bit] NOT NULL,
 CONSTRAINT [PK_Catalogue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[History]    Script Date: 10/28/2014 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[NgayOrder] [date] NULL,
	[IdNhaThuoc] [int] NOT NULL,
	[IdMasterChiPhi] [int] NOT NULL,
	[DeleteFlag] [bit] NOT NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MasterChiPhi]    Script Date: 10/28/2014 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterChiPhi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[STT] [int] NULL,
	[IdCatalogueKS] [int] NULL,
	[SLKS] [tinyint] NULL,
	[IdCatalogueVC] [int] NULL,
	[SLVC] [tinyint] NULL,
	[IdCatalogueHMTC] [int] NULL,
	[IdCatalogueLD] [int] NULL,
	[IdCatalogueXP] [int] NULL,
	[Ngang] [float] NULL,
	[Rong] [float] NULL,
	[SLHMTC] [tinyint] NULL,
	[Brand1] [nvarchar](50) NULL,
	[IdCatalogueHMK] [int] NULL,
	[SLHMK] [tinyint] NULL,
	[Brand2] [nvarchar](50) NULL,
 CONSTRAINT [PK_MasterChiPhi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaThuoc]    Script Date: 10/28/2014 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaThuoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeMer] [nvarchar](50) NOT NULL,
	[PharmacyName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[Other] [nvarchar](50) NULL,
	[Ward] [nvarchar](50) NULL,
	[District] [nvarchar](20) NOT NULL,
	[Province] [nvarchar](50) NOT NULL,
	[Area] [nvarchar](50) NULL,
	[Zone] [nvarchar](200) NULL,
	[Pharmacist] [nvarchar](50) NULL,
	[PharmacyOwner] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Cellphone] [nvarchar](50) NULL,
	[InChargeFYLCD] [nvarchar](50) NULL,
	[RL] [nvarchar](50) NULL,
	[DeleteFlag] [bit] NOT NULL,
 CONSTRAINT [PK_NhaThuoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 10/28/2014 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUserGroup] [tinyint] NOT NULL,
	[Ma] [nvarchar](10) NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](3) NOT NULL,
	[DOB] [date] NULL,
	[CMND] [nvarchar](20) NULL,
	[NgayCap] [date] NULL,
	[NoiCap] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[DTDD] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 10/28/2014 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_UserGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Catalogue] ON 

GO
SET IDENTITY_INSERT [dbo].[Catalogue] OFF
SET IDENTITY_INSERT [dbo].[NhaThuoc] ON 

INSERT [dbo].[NhaThuoc] ([Id], [CodeMer], [PharmacyName], [Address], [Street], [Other], [Ward], [District], [Province], [Area], [Zone], [Pharmacist], [PharmacyOwner], [Phone], [Cellphone], [InChargeFYLCD], [RL], [DeleteFlag]) VALUES (1575, N'MER0001', N'HT SỐ 12', N'122', N'BÙI THỊ XUÂN', N'', N'PHƯỜNG PHẠM NGŨ LÃO ', N'QUẬN 1', N'HCM', N'HCM', N'NGÃ TƯ; ĐỐI DIỆN BỆNH VIỆN PHỤ SẢN QUỐC TẾ', N'', N'ĐẶNG THỊ SEN', N'38393014', N'01298432239 ', N'MyNT', N'M02', 0)
INSERT [dbo].[NhaThuoc] ([Id], [CodeMer], [PharmacyName], [Address], [Street], [Other], [Ward], [District], [Province], [Area], [Zone], [Pharmacist], [PharmacyOwner], [Phone], [Cellphone], [InChargeFYLCD], [RL], [DeleteFlag]) VALUES (1576, N'MER0002', N'HT SỐ 3', N'105', N'NGUYỄN HUỆ', N'', N'PHƯỜNG BẾN NGHÉ', N'QUẬN 1', N'HCM', N'HCM', N'NGÃ BA, NGÃ TƯ, VÒNG XOAY; KHU VĂN PHÒNG', N'', N'TRẦN HỒNG NỤ', N'38222415', N'', N'MyNT', N'M01', 0)
INSERT [dbo].[NhaThuoc] ([Id], [CodeMer], [PharmacyName], [Address], [Street], [Other], [Ward], [District], [Province], [Area], [Zone], [Pharmacist], [PharmacyOwner], [Phone], [Cellphone], [InChargeFYLCD], [RL], [DeleteFlag]) VALUES (1577, N'MER0003', N'NT THIÊN HỒNG', N'41', N'TRẦN HƯNG ĐẠO', N'', N'PHƯỜNG BẾN NGHÉ', N'QUẬN 1', N'HCM', N'HCM', N'KHU ĐÔNG DÂN CƯ; GẦN BẾN XE BUS; GẦN SIÊU THỊ ĐIỆN MÁY NGUYỄN KIM ', N'', N'NGÔ THỊ KIỀU NGA', N'38214422', N'84909636273', N'MyNT', N'M02', 0)
GO
SET IDENTITY_INSERT [dbo].[NhaThuoc] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [IdUserGroup], [Ma], [Ten], [UserName], [Password], [GioiTinh], [DOB], [CMND], [NgayCap], [NoiCap], [DiaChi], [DienThoai], [DTDD], [Email], [GhiChu], [DeleteFlag]) VALUES (2, 1, N'', N'admin', N'admin', N'21232F297A57A5A743894AE4A801FC345454433454539', N'Nam', NULL, N'', NULL, N'', N'', N'', N'', N'', N'', 0)
INSERT [dbo].[User] ([Id], [IdUserGroup], [Ma], [Ten], [UserName], [Password], [GioiTinh], [DOB], [CMND], [NgayCap], [NoiCap], [DiaChi], [DienThoai], [DTDD], [Email], [GhiChu], [DeleteFlag]) VALUES (1003, 2, N'', N'Nguyễn Thị Cẩm Linh', N'linh', N'25F9E794323B453885F5181F1B624DB45454433454539', N'Nữ', CAST(0x13390B00 AS Date), N'', CAST(0x13390B00 AS Date), N'', N'', N'', N'', N'', N'', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserGroup] ON 

INSERT [dbo].[UserGroup] ([Id], [Ten], [GhiChu]) VALUES (1, N'Admin', N'Toàn quyền')
INSERT [dbo].[UserGroup] ([Id], [Ten], [GhiChu]) VALUES (2, N'Quản lý', N'Toàn quyền')
INSERT [dbo].[UserGroup] ([Id], [Ten], [GhiChu]) VALUES (3, N'Nhân viên', N'Giới hạn')
SET IDENTITY_INSERT [dbo].[UserGroup] OFF
ALTER TABLE [dbo].[Catalogue] ADD  CONSTRAINT [DF_Catalogue_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Catalogue] ADD  CONSTRAINT [DF_Catalogue_ReferencePrice]  DEFAULT ((0)) FOR [ReferencePrice]
GO
ALTER TABLE [dbo].[Catalogue] ADD  CONSTRAINT [DF_Catalogue_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[History] ADD  CONSTRAINT [DF_History_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[NhaThuoc] ADD  CONSTRAINT [DF_NhaThuoc_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_GioiTinh]  DEFAULT (N'Nam') FOR [GioiTinh]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_MasterChiPhi] FOREIGN KEY([IdMasterChiPhi])
REFERENCES [dbo].[MasterChiPhi] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_MasterChiPhi]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_NhaThuoc] FOREIGN KEY([IdNhaThuoc])
REFERENCES [dbo].[NhaThuoc] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_NhaThuoc]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_User]
GO
ALTER TABLE [dbo].[MasterChiPhi]  WITH CHECK ADD  CONSTRAINT [FK_MasterChiPhi_Catalogue] FOREIGN KEY([IdCatalogueKS])
REFERENCES [dbo].[Catalogue] ([Id])
GO
ALTER TABLE [dbo].[MasterChiPhi] CHECK CONSTRAINT [FK_MasterChiPhi_Catalogue]
GO
ALTER TABLE [dbo].[MasterChiPhi]  WITH CHECK ADD  CONSTRAINT [FK_MasterChiPhi_Catalogue1] FOREIGN KEY([IdCatalogueVC])
REFERENCES [dbo].[Catalogue] ([Id])
GO
ALTER TABLE [dbo].[MasterChiPhi] CHECK CONSTRAINT [FK_MasterChiPhi_Catalogue1]
GO
ALTER TABLE [dbo].[MasterChiPhi]  WITH CHECK ADD  CONSTRAINT [FK_MasterChiPhi_Catalogue2] FOREIGN KEY([IdCatalogueHMTC])
REFERENCES [dbo].[Catalogue] ([Id])
GO
ALTER TABLE [dbo].[MasterChiPhi] CHECK CONSTRAINT [FK_MasterChiPhi_Catalogue2]
GO
ALTER TABLE [dbo].[MasterChiPhi]  WITH CHECK ADD  CONSTRAINT [FK_MasterChiPhi_Catalogue3] FOREIGN KEY([IdCatalogueLD])
REFERENCES [dbo].[Catalogue] ([Id])
GO
ALTER TABLE [dbo].[MasterChiPhi] CHECK CONSTRAINT [FK_MasterChiPhi_Catalogue3]
GO
ALTER TABLE [dbo].[MasterChiPhi]  WITH CHECK ADD  CONSTRAINT [FK_MasterChiPhi_Catalogue4] FOREIGN KEY([IdCatalogueXP])
REFERENCES [dbo].[Catalogue] ([Id])
GO
ALTER TABLE [dbo].[MasterChiPhi] CHECK CONSTRAINT [FK_MasterChiPhi_Catalogue4]
GO
ALTER TABLE [dbo].[MasterChiPhi]  WITH CHECK ADD  CONSTRAINT [FK_MasterChiPhi_Catalogue5] FOREIGN KEY([IdCatalogueHMK])
REFERENCES [dbo].[Catalogue] ([Id])
GO
ALTER TABLE [dbo].[MasterChiPhi] CHECK CONSTRAINT [FK_MasterChiPhi_Catalogue5]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserGroup] FOREIGN KEY([IdUserGroup])
REFERENCES [dbo].[UserGroup] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserGroup]
GO
