<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.QuanLyDonHangConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=QuanLyDonHang;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Model.Properties.Settings.QuanLyDonHangConnectionString1" connectionString="Data Source=.\newsql;Initial Catalog=QuanLyDonHang;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Model.Properties.Settings.QuanLyDonHangConnectionString2" connectionString="Data Source=.\sql2012;Initial Catalog=QuanLyDonHang;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
